/*---  Colors  ---*/
$primarycolorhover: saturate(darken($primaryColor, 5), 10, relative) !default;
$secondarycolorhover: saturate(
  lighten($secondaryColor, 5),
  10,
  relative
) !default;
$lightprimarycolorhover: saturate(
  darken($lightPrimaryColor, 5),
  10,
  relative
) !default;
$lightsecondarycolorhover: saturate(
  lighten($lightSecondaryColor, 5),
  10,
  relative
) !default;

$redhover: saturate(darken($red, 5), 10, relative) !default;
$orangehover: saturate(darken($orange, 5), 10, relative) !default;
$yellowhover: saturate(darken($yellow, 5), 10, relative) !default;
$olivehover: saturate(darken($olive, 5), 10, relative) !default;
$greenhover: saturate(darken($green, 5), 10, relative) !default;
$tealhover: saturate(darken($teal, 5), 10, relative) !default;
$bluehover: saturate(darken($blue, 5), 10, relative) !default;
$violethover: saturate(darken($violet, 5), 10, relative) !default;
$purplehover: saturate(darken($purple, 5), 10, relative) !default;
$pinkhover: saturate(darken($pink, 5), 10, relative) !default;
$brownhover: saturate(darken($brown, 5), 10, relative) !default;

$lightredhover: saturate(darken($lightRed, 5), 10, relative) !default;
$lightorangehover: saturate(darken($lightOrange, 5), 10, relative) !default;
$lightyellowhover: saturate(darken($lightYellow, 5), 10, relative) !default;
$lightolivehover: saturate(darken($lightOlive, 5), 10, relative) !default;
$lightgreenhover: saturate(darken($lightGreen, 5), 10, relative) !default;
$lighttealhover: saturate(darken($lightTeal, 5), 10, relative) !default;
$lightbluehover: saturate(darken($lightBlue, 5), 10, relative) !default;
$lightviolethover: saturate(darken($lightViolet, 5), 10, relative) !default;
$lightpurplehover: saturate(darken($lightPurple, 5), 10, relative) !default;
$lightpinkhover: saturate(darken($lightPink, 5), 10, relative) !default;
$lightbrownhover: saturate(darken($lightBrown, 5), 10, relative) !default;
$lightgreyhover: saturate(darken($lightGrey, 5), 10, relative) !default;
$lightblackhover: saturate(darken($fullBlack, 5), 10, relative) !default;

/*---  Emotive  ---*/
$positivecolorhover: saturate(darken($positiveColor, 5), 10, relative) !default;
$negativecolorhover: saturate(darken($negativeColor, 5), 10, relative) !default;

/*---  Brand   ---*/
$facebookhovercolor: saturate(darken($facebookColor, 5), 10, relative) !default;
$twitterhovercolor: saturate(darken($twitterColor, 5), 10, relative) !default;
$googleplushovercolor: saturate(
  darken($googlePlusColor, 5),
  10,
  relative
) !default;
$linkedinhovercolor: saturate(darken($linkedInColor, 5), 10, relative) !default;
$youtubehovercolor: saturate(darken($youtubeColor, 5), 10, relative) !default;
$instagramhovercolor: saturate(
  darken($instagramColor, 5),
  10,
  relative
) !default;
$pinteresthovercolor: saturate(
  darken($pinterestColor, 5),
  10,
  relative
) !default;
$vkhovercolor: saturate(darken($vkColor, 5), 10, relative) !default;

/*---  Dark Tones  ---*/
$fullblackhover: lighten($fullBlack, 5) !default;
$blackhover: lighten($black, 5) !default;
$greyhover: lighten($grey, 5) !default;

/*---  Light Tones  ---*/
$whitehover: darken($white, 5) !default;
$offwhitehover: darken($offWhite, 5) !default;
$darkwhitehover: darken($darkWhite, 5) !default;

/*-------------------
        Focus
--------------------*/

/*---  Colors  ---*/
$primarycolorfocus: saturate(darken($primaryColor, 8), 20, relative) !default;
$secondarycolorfocus: saturate(
  lighten($secondaryColor, 8),
  20,
  relative
) !default;
$lightprimarycolorfocus: saturate(
  darken($lightPrimaryColor, 8),
  20,
  relative
) !default;
$lightsecondarycolorfocus: saturate(
  lighten($lightSecondaryColor, 8),
  20,
  relative
) !default;

$redfocus: saturate(darken($red, 8), 20, relative) !default;
$orangefocus: saturate(darken($orange, 8), 20, relative) !default;
$yellowfocus: saturate(darken($yellow, 8), 20, relative) !default;
$olivefocus: saturate(darken($olive, 8), 20, relative) !default;
$greenfocus: saturate(darken($green, 8), 20, relative) !default;
$tealfocus: saturate(darken($teal, 8), 20, relative) !default;
$bluefocus: saturate(darken($blue, 8), 20, relative) !default;
$violetfocus: saturate(darken($violet, 8), 20, relative) !default;
$purplefocus: saturate(darken($purple, 8), 20, relative) !default;
$pinkfocus: saturate(darken($pink, 8), 20, relative) !default;
$brownfocus: saturate(darken($brown, 8), 20, relative) !default;

$lightredfocus: saturate(darken($lightRed, 8), 20, relative) !default;
$lightorangefocus: saturate(darken($lightOrange, 8), 20, relative) !default;
$lightyellowfocus: saturate(darken($lightYellow, 8), 20, relative) !default;
$lightolivefocus: saturate(darken($lightOlive, 8), 20, relative) !default;
$lightgreenfocus: saturate(darken($lightGreen, 8), 20, relative) !default;
$lighttealfocus: saturate(darken($lightTeal, 8), 20, relative) !default;
$lightbluefocus: saturate(darken($lightBlue, 8), 20, relative) !default;
$lightvioletfocus: saturate(darken($lightViolet, 8), 20, relative) !default;
$lightpurplefocus: saturate(darken($lightPurple, 8), 20, relative) !default;
$lightpinkfocus: saturate(darken($lightPink, 8), 20, relative) !default;
$lightbrownfocus: saturate(darken($lightBrown, 8), 20, relative) !default;
$lightgreyfocus: saturate(darken($lightGrey, 8), 20, relative) !default;
$lightblackfocus: saturate(darken($fullBlack, 8), 20, relative) !default;

/*---  Emotive  ---*/
$positivecolorfocus: saturate(darken($positiveColor, 8), 20, relative) !default;
$negativecolorfocus: saturate(darken($negativeColor, 8), 20, relative) !default;

/*---  Brand   ---*/
$facebookfocuscolor: saturate(darken($facebookColor, 8), 20, relative) !default;
$twitterfocuscolor: saturate(darken($twitterColor, 8), 20, relative) !default;
$googleplusfocuscolor: saturate(
  darken($googlePlusColor, 8),
  20,
  relative
) !default;
$linkedinfocuscolor: saturate(darken($linkedInColor, 8), 20, relative) !default;
$youtubefocuscolor: saturate(darken($youtubeColor, 8), 20, relative) !default;
$instagramfocuscolor: saturate(
  darken($instagramColor, 8),
  20,
  relative
) !default;
$pinterestfocuscolor: saturate(
  darken($pinterestColor, 8),
  20,
  relative
) !default;
$vkfocuscolor: saturate(darken($vkColor, 8), 20, relative) !default;

/*---  Dark Tones  ---*/
$fullblackfocus: lighten($fullBlack, 8) !default;
$blackfocus: lighten($black, 8) !default;
$greyfocus: lighten($grey, 8) !default;

/*---  Light Tones  ---*/
$whitefocus: darken($white, 8) !default;
$offwhitefocus: darken($offWhite, 8) !default;
$darkwhitefocus: darken($darkWhite, 8) !default;

/*-------------------
    Down (:active)
--------------------*/

/*---  Colors  ---*/
$primarycolordown: darken($primaryColor, 10) !default;
$secondarycolordown: lighten($secondaryColor, 10) !default;
$lightprimarycolordown: darken($lightPrimaryColor, 10) !default;
$lightsecondarycolordown: lighten($lightSecondaryColor, 10) !default;

$reddown: darken($red, 10) !default;
$orangedown: darken($orange, 10) !default;
$yellowdown: darken($yellow, 10) !default;
$olivedown: darken($olive, 10) !default;
$greendown: darken($green, 10) !default;
$tealdown: darken($teal, 10) !default;
$bluedown: darken($blue, 10) !default;
$violetdown: darken($violet, 10) !default;
$purpledown: darken($purple, 10) !default;
$pinkdown: darken($pink, 10) !default;
$browndown: darken($brown, 10) !default;

$lightreddown: darken($lightRed, 10) !default;
$lightorangedown: darken($lightOrange, 10) !default;
$lightyellowdown: darken($lightYellow, 10) !default;
$lightolivedown: darken($lightOlive, 10) !default;
$lightgreendown: darken($lightGreen, 10) !default;
$lighttealdown: darken($lightTeal, 10) !default;
$lightbluedown: darken($lightBlue, 10) !default;
$lightvioletdown: darken($lightViolet, 10) !default;
$lightpurpledown: darken($lightPurple, 10) !default;
$lightpinkdown: darken($lightPink, 10) !default;
$lightbrowndown: darken($lightBrown, 10) !default;
$lightgreydown: darken($lightGrey, 10) !default;
$lightblackdown: darken($fullBlack, 10) !default;

/*---  Emotive  ---*/
$positivecolordown: darken($positiveColor, 10) !default;
$negativecolordown: darken($negativeColor, 10) !default;

/*---  Brand   ---*/
$facebookdowncolor: darken($facebookColor, 10) !default;
$twitterdowncolor: darken($twitterColor, 10) !default;
$googleplusdowncolor: darken($googlePlusColor, 10) !default;
$linkedindowncolor: darken($linkedInColor, 10) !default;
$youtubedowncolor: darken($youtubeColor, 10) !default;
$instagramdowncolor: darken($instagramColor, 10) !default;
$pinterestdowncolor: darken($pinterestColor, 10) !default;
$vkdowncolor: darken($vkColor, 10) !default;

/*---  Dark Tones  ---*/
$fullblackdown: lighten($fullBlack, 10) !default;
$blackdown: lighten($black, 10) !default;
$greydown: lighten($grey, 10) !default;

/*---  Light Tones  ---*/
$whitedown: darken($white, 10) !default;
$offwhitedown: darken($offWhite, 10) !default;
$darkwhitedown: darken($darkWhite, 10) !default;

/*-------------------
        Active
--------------------*/

/*---  Colors  ---*/
$primarycoloractive: saturate(darken($primaryColor, 5), 15, relative) !default;
$secondarycoloractive: saturate(
  lighten($secondaryColor, 5),
  15,
  relative
) !default;
$lightprimarycoloractive: saturate(
  darken($lightPrimaryColor, 5),
  15,
  relative
) !default;
$lightsecondarycoloractive: saturate(
  lighten($lightSecondaryColor, 5),
  15,
  relative
) !default;

$redactive: saturate(darken($red, 5), 15, relative) !default;
$orangeactive: saturate(darken($orange, 5), 15, relative) !default;
$yellowactive: saturate(darken($yellow, 5), 15, relative) !default;
$oliveactive: saturate(darken($olive, 5), 15, relative) !default;
$greenactive: saturate(darken($green, 5), 15, relative) !default;
$tealactive: saturate(darken($teal, 5), 15, relative) !default;
$blueactive: saturate(darken($blue, 5), 15, relative) !default;
$violetactive: saturate(darken($violet, 5), 15, relative) !default;
$purpleactive: saturate(darken($purple, 5), 15, relative) !default;
$pinkactive: saturate(darken($pink, 5), 15, relative) !default;
$brownactive: saturate(darken($brown, 5), 15, relative) !default;

$lightredactive: saturate(darken($lightRed, 5), 15, relative) !default;
$lightorangeactive: saturate(darken($lightOrange, 5), 15, relative) !default;
$lightyellowactive: saturate(darken($lightYellow, 5), 15, relative) !default;
$lightoliveactive: saturate(darken($lightOlive, 5), 15, relative) !default;
$lightgreenactive: saturate(darken($lightGreen, 5), 15, relative) !default;
$lighttealactive: saturate(darken($lightTeal, 5), 15, relative) !default;
$lightblueactive: saturate(darken($lightBlue, 5), 15, relative) !default;
$lightvioletactive: saturate(darken($lightViolet, 5), 15, relative) !default;
$lightpurpleactive: saturate(darken($lightPurple, 5), 15, relative) !default;
$lightpinkactive: saturate(darken($lightPink, 5), 15, relative) !default;
$lightbrownactive: saturate(darken($lightBrown, 5), 15, relative) !default;
$lightgreyactive: saturate(darken($lightGrey, 5), 15, relative) !default;
$lightblackactive: saturate(darken($fullBlack, 5), 15, relative) !default;

/*---  Emotive  ---*/
$positivecoloractive: saturate(
  darken($positiveColor, 5),
  15,
  relative
) !default;
$negativecoloractive: saturate(
  darken($negativeColor, 5),
  15,
  relative
) !default;

/*---  Brand   ---*/
$facebookactivecolor: saturate(
  darken($facebookColor, 5),
  15,
  relative
) !default;
$twitteractivecolor: saturate(darken($twitterColor, 5), 15, relative) !default;
$googleplusactivecolor: saturate(
  darken($googlePlusColor, 5),
  15,
  relative
) !default;
$linkedinactivecolor: saturate(
  darken($linkedInColor, 5),
  15,
  relative
) !default;
$youtubeactivecolor: saturate(darken($youtubeColor, 5), 15, relative) !default;
$instagramactivecolor: saturate(
  darken($instagramColor, 5),
  15,
  relative
) !default;
$pinterestactivecolor: saturate(
  darken($pinterestColor, 5),
  15,
  relative
) !default;
$vkactivecolor: saturate(darken($vkColor, 5), 15, relative) !default;

/*---  Dark Tones  ---*/
$fullblackactive: darken($fullBlack, 5) !default;
$blackactive: darken($black, 5) !default;
$greyactive: darken($grey, 5) !default;

/*---  Light Tones  ---*/
$whiteactive: darken($white, 5) !default;
$offwhiteactive: darken($offWhite, 5) !default;
$darkwhiteactive: darken($darkWhite, 5) !default;
